.navbar{
    background-color: yellow;
    
}
.navbar li{
    float: left;
    list-style: none;
    margin: 10px 10px;
}
.navbar li a{
   text-decoration: none;
   padding: 5px 5px;
   
   padding: auto;
}
.navbar ul{
    overflow: auto;
}
.search{
    float: right;   
    padding: 10px 10px;
    
    
}
.search input{
    border: 1px solid black;
    border-radius: 2px;
    padding: 4px;    
}

/* display:inline 
Makes the display take space that is needed
display: block
Takes full width
For block elements if we want to make them inline we use
display: inline-block
box-sizing: border-box
*/